/**Navbar**/
body, html{
    font-family: nobel, sans-serif;
	font-style: normal;
}

nav{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    font-family: nobel, sans-serif;
	font-style: normal;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #2a2929;
    text-decoration: none;
}
.headshot{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headshot img{
    width: 25%;
    height: auto;
    border-radius: 10%;
}
.header-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
